
<div class='row'>
    <div class='col'>
        <h1>Pokedex</h1>
    </div>
    
</div>

<div class='row'>
    <div class='col col-md-12'>
        <div class='pokedex-holder'>
            <img src='/images/pokedex.gif' id='pokedex'/>
            <div id='poke-image'></div>
            <div id='poke-data'></div>
        </div>    
    </div>
</div>
