
<div class='row'>
    <div class='col'>
        <h1>Pokedex</h1>
        <hr>
        <form action="/action_page.php">
            Pokemon: <input id='pokemonVal' type="text" name="pokemon" placeholder="enter pokemon or id"><br>
        <input type="submit" value="Submit" id='pokemonSubmit'>
</form>
    </div>
    
</div>

<div class='row'>
    <div class='col col-md-12'>
        <div class='pokedex-holder pixel-font'>
            <div class='basic-background' id='poke-image'>
                <img src="" id='sprite-image'/>
            </div>
            <div id='poke-data'>
                <p id='pokeName'></p>
                <p class='dex-info' id='pokeId'></p>
                <p class='dex-info' id='pokeHeight'></p>
                <p class='dex-info' id='pokeWeight'></p>
            </div>
        </div>    
    </div>
</div>
