
<div class='row' id='header-row'>
    <div class='col' id='page-title'>
        <h1 id='title'><span><img src='images/pokeball-symbol.png' height='50px' width='50px'/></span>Pokedex</h1>
    </div>
    <div class='col col-md-5 align-self-center' id='searchBox'>
        Pokemon or ID: <input id='pokemonVal' type="text" name="pokeList">
        <datalist id="pokeList">
        </datalist>
        <input type="submit" value="Submit" id='pokemonSubmit'>
    </div>
</div>

<div class='row'>
    <div class='col col-md-12'>
        <div class='pokedex-holder pixel-font'>
            <div class='basic-background' id='poke-image'>
                <img src="" id='sprite-image'/>
            </div>
            <div id='poke-data'>
                <p id='pokeName'></p>
                <p class='dex-info' id='pokeId'></p>
                <p class='dex-info' id='pokeHeight'></p>
                <p class='dex-info' id='pokeWeight'></p>
            </div>
        </div>    
    </div>
</div>
