body {
    background-color: #E5E4E2;
}

.pixel-font {
    font-family: 'Press Start 2P', cursive;
}

/* pokedex styles */
/* --------------------------------------------------------------- */

.hiddenOptions {
    color: red;
}

#header-row {
    margin-bottom: 20px;
    background: black;
    color: white;
}

#page-title {
    display: block;
    font-size: 1.5em;
}

#title {
    font-size: 2em;
}

.pokedex-holder {
    position: relative;
    background-image: url('/images/pokedex.gif');
    display: block;
    margin: 0 auto;
    width: 745px;
    height: 541px;
}

#poke-image {
    position: absolute;
    background-image: url('/images/pokedex-backgrounds/basic-background.jpg');
    background-size: cover;
    height: 180px;
    width: 267px;
    bottom: 213px;
    left: 50px;
    border-radius: 7px;
    border: 2px solid black;
}

#poke-data {
    position: absolute;;
    background: #15fd00;
    height: 120px;
    width: 244px;
    bottom: 260px;
    left: 445px;
    border-radius: 7px;
    border: 2px solid black;
}

#poke-info {
    background:#fbfb05;
    position: absolute;
    bottom: 38px;
    left: 88px;
    height: 58px;
    width: 122px;
    border-radius: 7px;
    border: 2px solid black;
}

#poke-type1 {
    background:#fb9b05;
    position: absolute;
    bottom: 41px;
    left: 452px;
    height: 47px;
    width: 105px;
    border-radius: 5px;
    border: 1px solid black;
}

#poke-type2 {
    background:#fb9b05;
    position: absolute;
    bottom: 41px;
    left: 579px;
    height: 47px;
    width: 105px;
    border-radius: 5px;
    border: 1px solid black;
}

.loading-type {
    height: 50px;
    width: 50px;
    margin-left: 25px;
    /* margin-top: 10px; */
}

.cycle-btn {
    position: absolute;
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 35px;
}

.cycle-btn:hover {
    border: 3px solid red;
}

#prev-btn {
    bottom: 117px;
    left: 471px;    
}

#next-btn {
    bottom: 117px;
    left: 505px; 
}

.type-symbol {
    width: 105px;
    height: 47px;
}


.sprite-image {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

#pokeName {
    text-align: center;
    color: black;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.dex-info {
    font-size: 10px;
    margin-left: 10px;
}